@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
	width: 100%;
	height: 100vh;
}

#root {
	width: 100%;
	height: 100vh;
}

.tab--container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	border: 7px solid #191435;
	background-color: #F7F8F9;
	border-radius: 10px;
}

.tab {
	font-family: "Inter", "sans-serif";
	font-weight: 600;
	font-size: 1.5rem;
	padding: 0.5rem;
	
}